<h1>Welcome to the Angular Wiki!</h1>
<p>Browse sections below:</p>
<ul>
  <li><a routerLink="/wiki/forms">Core Angular Forms</a></li>
  <li><a routerLink="/wiki/components">Components & Templates</a></li>
  <li><a routerLink="/wiki/rxjs">RxJS in Angular</a></li>
  <li><a routerLink="/wiki/state-management">State Management</a></li>
  <li><a routerLink="/wiki/testing">Testing in Angular</a></li>
  <li><a routerLink="/wiki/change-detection">Change Detection</a></li>
  <li><a routerLink="/wiki/i18n">Internationalization (i18n)</a></li>
  <li><a routerLink="/wiki/accessibility">Accessibility (a11y)</a></li>
  <!-- Future sections will be added here -->
</ul>
